In [1]:
import pandas as pd

pd.set_option("display.max_columns", 200)
pd.set_option("display.max_rows", 50)

default_df = pd.read_csv("../datasets/cardPrices.csv", low_memory=False)

# Introduction
The dataset used for this analysis includes the prices of MTG cards available from online providers.  
The prices are likely to represent the market value for the majority of the cards listed.  
However, it's crucial to remember that rare and collector's items, like the autographed Beta Black Lotus, will not be included in this dataset.

In [2]:
default_df.head()

,cardFinish,currency,date,gameAvailability,price,priceProvider,providerListing,uuid
0,normal,USD,2023-06-24,mtgo,0.10,cardhoarder,retail,f182e364-0439-5594-a6e6-75f7889ccf45
1,normal,USD,2023-06-24,mtgo,0.18,cardhoarder,retail,330deaa3-dd7a-52a8-bfbc-b323cd16a409
2,normal,USD,2023-06-24,mtgo,0.02,cardhoarder,retail,79e36956-b91f-580f-8309-7d9585a67560
3,normal,USD,2023-06-24,mtgo,0.16,cardhoarder,retail,6afb2b4c-530a-57d5-8e7f-871239f6fa05
4,normal,USD,2023-06-24,mtgo,0.02,cardhoarder,retail,b1fc2762-92aa-5a14-8509-a59cb611e376

In [3]:
default_df.describe()

               price
count  636822.000000
mean       10.431263
std       343.429972
min         0.000000
25%         0.080000
50%         0.350000
75%         1.500000
max    159999.990000